.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-resizable-handle {
  right: 0 !important;
  bottom: 0 !important;
  width: 20px !important;
  height: 20px !important;
  background: none !important;
}

.react-resizable-handle::after, .react-resizable-handle-se::after {
  content: "" !important;
  position: absolute !important;
  right: 3px !important;
  bottom: 3px !important;
  width: 5px !important;
  height: 5px !important;
  border-right: 2px solid white !important;
  border-bottom: 2px solid white !important;
  box-sizing: border-box !important;
}
